body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 50px;
}

.from{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(223, 223, 223);
  padding: 80px 20px;
}

.container{
  display: flex;
}

.table{
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
  background-color:  rgb(223, 223, 223);
  border: 5px solid white;
  
}